DirectoryIndex index.php
<Directory /home/mypath>
	Options +Indexes
	ErrorDocument 400 default
	ErrorDocument 401 default
	ErrorDocument 403 default
	ErrorDocument 404 default
	ErrorDocument 405 default
	ErrorDocument 408 default
	ErrorDocument 411 default
	ErrorDocument 413 default
	ErrorDocument 414 default
    AddHandler application/x-httpd-php .php .html .htm
    #AddType application/x-httpd-php .txt
    AddType application/x-httpd-suphp .txt
    php_value  auto_prepend_file    "./inc/library.php"
    ServerSignature On
</Directory>
